{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper-scroll">

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title dark">Criteria 1<br>

                            <small class="text-muted d-block">
                                The Curricular Aspects are the mainstay of any educational institution. However, the responsibilities of various HEIs in this regard vary depending on their administrative standing. That is, an Affiliated College is essentially a teaching unit which depends on a larger body namely university for legitimizing its academic and administrative processes. Its engagement with curricular aspects is mainly in their implementation while its participation in curriculum development, procedural detailing, assessment procedures as well as certification is peripheral and these are “givens’’. Whereas a University has the mandate to visualize appropriate curricula for particular programmes, revise/update them periodically, ensure that the outcomes of its programmes are defined by its bodies. In case of Autonomous Colleges curricular responsibilities are similar to the Universities.

 Criterion I pertains to the practices of an institution in initiating a wide range of programme options and courses that are in tune with the emerging national and global trends and relevant to the local needs. Apart from issues of diversity and academic flexibility, aspects on career orientation, multi-skill development, feedback system and involvement of stakeholders in curriculum updating are also gauged.
<br><br>
<strong>The focus of Criterion I is captured in the following Key Indicators:</strong>

                            </small>
                        </div>
    
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="accordionExample2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOneLight">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOneLight" aria-expanded="true"
                                        aria-controls="collapseOneLight">Criteria 1.1 <strong>&nbsp;Curricular Planning and Implementation</strong> </button>
                                </h2>
                                <div id="collapseOneLight" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOneLight" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong> Curricular Planning and Implementation</strong> <br>The Affiliating/Constituent Colleges have rather insignificant role in curriculum designing and development. They adopt the curriculum overview provided by the respective universities. Each college operationalize the curriculum within the overall frame work provided, in one’s own way depending on its resource potential, institutional goals and concern and so on. That is, each college visualizes the way the curriculum has to be carried out – activities, who, how, when etc. This process makes each institution unique and reflects on the concern of the college for quality in the form of values emphasized, sensitivities focused on, etc.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwoLight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwoLight" aria-expanded="false"
                                        aria-controls="collapseTwoLight">Criteria 1.2 <strong>&nbsp;Academic Flexibility</strong></button>
                                </h2>
                                <div id="collapseTwoLight" class="accordion-collapse collapse" aria-labelledby="headingTwoLight"
                                    data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>Academic Flexibility</strong> <br>Academic flexibility refers to the freedom in the use of the time-frame of the courses, horizontal mobility, inter-disciplinary options and others facilitated by curricular transactions. Supplementary enrichment programmes introduced as an initiative of the college, credit system and choice offered in the curriculum, in terms of programme, curricular transactions and time-frame options are also considered in this key indicator.                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThreeLight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThreeLight" aria-expanded="false"
                                        aria-controls="collapseThreeLight">Criteria 1.3 <strong>&nbsp;Curriculum Enrichment</strong></button>
                                </h2>
                                <div id="collapseThreeLight" class="accordion-collapse collapse"
                                    aria-labelledby="headingThreeLight" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>Curriculum Enrichment</strong> <br>
                                        Holistic development of students is the main purpose of curriculum. While this is attempted through prescribing dynamic and updated curricular inputs, the HEI is expected to have provision for added courses and activities which may not be directly linked with one’s discipline of study but contribute to sensitizing students to cross-cutting issues relevant to the current pressing concerns both nationally and internationally such as gender, environment and sustainability, human values and professional ethics, development of creative and divergent competencies. A progressive university would provide a wide range of such “value-added’’ courses for students to choose from according to their interests and inclinations.
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFourLight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFourLight" aria-expanded="false"
                                        aria-controls="collapseFourLight">Criteria 1.4 <strong>&nbsp;Feedback System</strong></button>
                                </h2>
                                <div id="collapseFourLight" class="accordion-collapse collapse"
                                    aria-labelledby="headingFourLight" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>Feedback System</strong> <br>
                                        The process of revision and redesign of curricula is based on recent developments and feedback from the stakeholders. The feedback from all stakeholders in terms of its relevance and appropriateness in catering to the needs of the society, economy and environment helps in improving the inputs.A HEI with the feedback system in place will have an active process of not only collecting feedback from all stakeholders, but also analysing it and identifying and drawing pertinent pointers to enhance the learning effectiveness.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row end -->

    </div>
{% endblock %}