{% if messages %}
    {% for message in messages %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-12">
            <div id="myAlert" class="alert {{ message.tags }} alert-dismissible fade show text-center" role="alert">
                {% if message.tags == 'alert-info' %}
                    <i class="bi bi-info-circle-fill alert-icon"></i>
                {% elif message.tags == 'alert-success' %}
                    <i class="bi bi-check-circle-fill alert-icon fs-5"></i>
                {% elif message.tags == 'alert-warning' %}
                    <i class="bi bi-exclamation-triangle-fill alert-icon"></i>
                {% elif message.tags == 'alert-danger' %}
                    <i class="bi bi-exclamation-triangle-fill alert-icon"></i>
                {% endif %}
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}


<script>
    function closeAlert() {
        setTimeout(function() {
            document.getElementById('myAlert').remove();
        }, 5000);
    }
    document.addEventListener('DOMContentLoaded', function() {
        closeAlert();
    });
</script>
