{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content wrapper start -->
<div class="content-wrapper">
	<!-- Row start -->
	<div class="row">
		<div class="col-sm-12 col-12">
			{% include 'messages.html' %}
			<!-- Card start -->
			<div class="card">
				<div class="card-header">
					<div class="card-title">Criteria 3.2.2</div>
				</div>

				<div class="card-body">
					<!-- Row start -->
					<!-- your_template.html -->
					<form method="post" action="{% url 'criteria_3_2_2_form' %}">
						{% csrf_token %}
						<div class="row">
							<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
								<div class="mb-3">
									<label class="form-label">Year</label>
									{{ form.year }}
								</div>
							</div>
							<div class="col-12">
								<div class="form-section-title">3.2.2 Number of workshops/seminars/conferences including
									programs conducted on Research Methodology, Intellectual Property Rights (IPR) and
									entrepreneurship during the last five years
								</div>
							</div>
							<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Name of the workshop/ seminar/ conference
									</label>
									{{ form.event_name }}
								</div>
							</div>
							<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Number of Participants
									</label>
									{{ form.num_participants }}
								</div>
							</div>
							<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">From Date</label>
									{{ form.date_from }}
								</div>
							</div>
							<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">To Date</label>
									{{ form.date_to }}
								</div>
							</div>
							<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Link to the Activity report on the website</label>
									{{ form.activity_report_link }}
								</div>
							</div>
							<!-- Form actions footer start -->
							<div class="form-actions-footer">
								<a href="{% url 'criteria_3_2_2' %}" class="btn btn-light">Cancel</a>
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
					</form>
					<!-- Form actions footer end -->
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>
	<!-- Row end -->
</div>
<!-- Content wrapper end -->

{% endblock %}