{% extends 'base.html' %}


{% block content %}

<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            {% include 'messages.html' %}
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h3 class="card-title" style="font-size: 1.5rem;">Criteria 3.3.1</h3>
                    <div>
                        <a href="{% url 'criteria_3_3_1_form' %}" class="btn btn-info"><i class="bi bi-plus-square"></i> New</a>
                        <form action="{% url 'upload_excel_3_3_1' %}" method="post" enctype="multipart/form-data" style="display: inline-block;">
                            {% csrf_token %}
                            <label for="excelFileInput" class="btn btn-success">
                                <i class="bi bi-file-earmark-arrow-up"></i> Upload Excel
                                <input type="file" id="excelFileInput" name="excel_file" accept=".xlsx" style="display: none;" onchange="this.form.submit()">
                            </label>
                        </form>
                        <a href="{% url 'export_excel_3_3_1' %}" class="btn btn-danger"><i class="bi bi-file-earmark-arrow-down"></i> Export Excel</a>
                    </div>
                </div>
            </div>
            
        </div>              
        <div class="col-sm-12 col-12">
            <!-- Card start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">2021 - 2022</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered custom-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" class="align-middle col-1">Title of paper</th>
                                    <th rowspan="2" class="align-middle col-1">Name of the author/s</th>
                                    <th rowspan="2" class="align-middle col-1">Department of the teacher</th>
                                    <th rowspan="2" class="align-middle col-1">Name of journal</th>
                                    <th rowspan="2" class="align-middle col-1">Calendar Year of publication</th>
                                    <th rowspan="2" class="align-middle col-1">ISSN number</th>
                                    <th colspan="3" class="align-middle col-2">Link to the recognition in UGC enlistment of the Journal/Digital Object Identifier (doi) number</th>
                                </tr>
                                <tr>
                                    <th class="align-middle col-2">Link to website of the Journal</th>
                                    <th class="align-middle col-2">Link to article / paper / abstract of the article</th>
                                    <th class="align-middle col-2">Is it listed in UGC Care list</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if 2021_records %}
                                    {% for record in 2021_records %}
                                    <tr>
                                        <td>{{ record.title_of_paper }}</td>
                                        <td>{{ record.authors }}</td>
                                        <td>{{ record.department }}</td>
                                        <td>{{ record.journal_name }}</td>
                                        <td>{{ record.year_of_publication }}</td>
                                        <td>{{ record.issn_number }}</td>
                                        <td>{{ record.journal_website_link }}</td>
                                        <td>{{ record.article_link }}</td>
                                        <td>{{ record.is_ugc_care_listed }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="9" class="text-center align-middle">
                                        <div class="alert alert-danger mb-0" role="alert">
                                            <h6 class="font-weight-bold mb-0">No Data Available</h6>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>                            
                        </table>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Card end -->
        </div>
        <div class="col-sm-12 col-12">

            <!-- Card start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">2022 - 2023</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered custom-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" class="align-middle col-1">Title of paper</th>
                                    <th rowspan="2" class="align-middle col-1">Name of the author/s</th>
                                    <th rowspan="2" class="align-middle col-1">Department of the teacher</th>
                                    <th rowspan="2" class="align-middle col-1">Name of journal</th>
                                    <th rowspan="2" class="align-middle col-1">Calendar Year of publication</th>
                                    <th rowspan="2" class="align-middle col-1">ISSN number</th>
                                    <th colspan="3" class="align-middle col-2">Link to the recognition in UGC enlistment of the Journal/Digital Object Identifier (doi) number</th>
                                </tr>
                                <tr>
                                    <th class="align-middle col-2">Link to website of the Journal</th>
                                    <th class="align-middle col-2">Link to article / paper / abstract of the article</th>
                                    <th class="align-middle col-2">Is it listed in UGC Care list</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if 2022_records %}
                                    {% for record in 2022_records %}
                                    <tr>
                                        <td>{{ record.title_of_paper }}</td>
                                        <td>{{ record.authors }}</td>
                                        <td>{{ record.department }}</td>
                                        <td>{{ record.journal_name }}</td>
                                        <td>{{ record.year_of_publication }}</td>
                                        <td>{{ record.issn_number }}</td>
                                        <td>{{ record.journal_website_link }}</td>
                                        <td>{{ record.article_link }}</td>
                                        <td>{{ record.is_ugc_care_listed }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="9" class="text-center">
                                        <div class="alert alert-danger mb-0" role="alert">
                                            <h6 class="font-weight-bold mb-0">No Data Available</h6>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
            <!-- Card end -->
        </div>
        <div class="col-sm-12 col-12">

            <!-- Card start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">2023 - 2024</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered custom-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" class="align-middle col-1">Title of paper</th>
                                    <th rowspan="2" class="align-middle col-1">Name of the author/s</th>
                                    <th rowspan="2" class="align-middle col-1">Department of the teacher</th>
                                    <th rowspan="2" class="align-middle col-1">Name of journal</th>
                                    <th rowspan="2" class="align-middle col-1">Calendar Year of publication</th>
                                    <th rowspan="2" class="align-middle col-1">ISSN number</th>
                                    <th colspan="3" class="align-middle col-2">Link to the recognition in UGC enlistment of the Journal/Digital Object Identifier (doi) number</th>
                                </tr>
                                <tr>
                                    <th class="align-middle col-2">Link to website of the Journal</th>
                                    <th class="align-middle col-2">Link to article / paper / abstract of the article</th>
                                    <th class="align-middle col-2">Is it listed in UGC Care list</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if 2023_records %}
                                    {% for record in 2023_records %}
                                    <tr>
                                        <td>{{ record.title_of_paper }}</td>
                                        <td>{{ record.authors }}</td>
                                        <td>{{ record.department }}</td>
                                        <td>{{ record.journal_name }}</td>
                                        <td>{{ record.year_of_publication }}</td>
                                        <td>{{ record.issn_number }}</td>
                                        <td>{{ record.journal_website_link }}</td>
                                        <td>{{ record.article_link }}</td>
                                        <td>{{ record.is_ugc_care_listed }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="9" class="text-center">
                                        <div class="alert alert-danger mb-0" role="alert">
                                            <h6 class="font-weight-bold mb-0">No Data Available</h6>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
            <!-- Card end -->
        </div>
        <div class="col-sm-12 col-12">

            <!-- Card start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">2024 - 2025</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered custom-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" class="align-middle col-1">Title of paper</th>
                                    <th rowspan="2" class="align-middle col-1">Name of the author/s</th>
                                    <th rowspan="2" class="align-middle col-1">Department of the teacher</th>
                                    <th rowspan="2" class="align-middle col-1">Name of journal</th>
                                    <th rowspan="2" class="align-middle col-1">Calendar Year of publication</th>
                                    <th rowspan="2" class="align-middle col-1">ISSN number</th>
                                    <th colspan="3" class="align-middle col-2">Link to the recognition in UGC enlistment of the Journal/Digital Object Identifier (doi) number</th>
                                </tr>
                                <tr>
                                    <th class="align-middle col-2">Link to website of the Journal</th>
                                    <th class="align-middle col-2">Link to article / paper / abstract of the article</th>
                                    <th class="align-middle col-2">Is it listed in UGC Care list</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if 2024_records %}
                                    {% for record in 2024_records %}
                                    <tr>
                                        <td>{{ record.title_of_paper }}</td>
                                        <td>{{ record.authors }}</td>
                                        <td>{{ record.department }}</td>
                                        <td>{{ record.journal_name }}</td>
                                        <td>{{ record.year_of_publication }}</td>
                                        <td>{{ record.issn_number }}</td>
                                        <td>{{ record.journal_website_link }}</td>
                                        <td>{{ record.article_link }}</td>
                                        <td>{{ record.is_ugc_care_listed }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="9" class="text-center">
                                        <div class="alert alert-danger mb-0" role="alert">
                                            <h6 class="font-weight-bold mb-0">No Data Available</h6>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
            <!-- Card end -->
        </div>
        <div class="col-sm-12 col-12">

            <!-- Card start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">2025 - 2026</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered custom-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2" class="align-middle col-1">Title of paper</th>
                                    <th rowspan="2" class="align-middle col-1">Name of the author/s</th>
                                    <th rowspan="2" class="align-middle col-1">Department of the teacher</th>
                                    <th rowspan="2" class="align-middle col-1">Name of journal</th>
                                    <th rowspan="2" class="align-middle col-1">Calendar Year of publication</th>
                                    <th rowspan="2" class="align-middle col-1">ISSN number</th>
                                    <th colspan="3" class="align-middle col-2">Link to the recognition in UGC enlistment of the Journal/Digital Object Identifier (doi) number</th>
                                </tr>
                                <tr>
                                    <th class="align-middle col-2">Link to website of the Journal</th>
                                    <th class="align-middle col-2">Link to article / paper / abstract of the article</th>
                                    <th class="align-middle col-2">Is it listed in UGC Care list</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if 2025_records %}
                                    {% for record in 2025_records %}
                                    <tr>
                                        <td>{{ record.title_of_paper }}</td>
                                        <td>{{ record.authors }}</td>
                                        <td>{{ record.department }}</td>
                                        <td>{{ record.journal_name }}</td>
                                        <td>{{ record.year_of_publication }}</td>
                                        <td>{{ record.issn_number }}</td>
                                        <td>{{ record.journal_website_link }}</td>
                                        <td>{{ record.article_link }}</td>
                                        <td>{{ record.is_ugc_care_listed }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="9" class="text-center">
                                        <div class="alert alert-danger mb-0" role="alert">
                                            <h6 class="font-weight-bold mb-0">No Data Available</h6>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
            <!-- Card end -->
        </div>
    </div>
</div>

{% endblock %}