{% extends 'base.html' %}


{% block content %}

<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
            {% include 'messages.html' %}
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h3 class="card-title" style="font-size: 1.5rem;">Criteria 2.7.1</h3>
                    <div>
                        {% if request.user.user_type == "HOD" %}
                        <div class="btn-group">
                          <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Assigned Users
                          </button>
                          <ul class="dropdown-menu">
                                  {% if users %}
                                      {% for user in users %}
                                    <li><a class="dropdown-item" href="{% url 'profile' user.user.username %}">{{ user.user.first_name }} {{ user.user.last_name }}</a></li>
                                      {% endfor %}
                                  {% else %}
                                    <li><a class="dropdown-item" href="#">No users Assigned</a></li>
                                  {% endif %}
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{%url 'assign_user'%}">Add User</a></li>
                          </ul>
                        </div>
                        {% endif %}
                        {% if has_access or request.user.user_type == "HOD" %}
                        <a href="{% url 'criteria_2_7_1_form' %}" class="btn btn-info"><i class="bi bi-plus-square"></i>
                            New</a>
                        <form action="{% url 'upload_excel_2_7_1' %}" method="post" enctype="multipart/form-data"
                            style="display: inline-block;">
                            {% csrf_token %}
                            <label for="excelFileInput" class="btn btn-success">
                                <i class="bi bi-file-earmark-arrow-up"></i> Upload Excel
                                <input type="file" id="excelFileInput" name="excel_file" accept=".xlsx"
                                    style="display: none;" onchange="this.form.submit()">
                            </label>
                        </form>
                        {% endif %}
                        <a href="{% url 'export_excel_2_7_1' %}" class="btn btn-danger"><i
                                class="bi bi-file-earmark-arrow-down"></i> Export Excel</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-12">
            <!-- Card start -->
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered custom-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="align-middle col-1">Name of the student</th>
                                    <th class="align-middle col-1">Gender</th>
                                    <th class="align-middle col-1">Category</th>
                                    <th class="align-middle col-1">State of Domicile</th>
                                    <th class="align-middle col-2">Nationality if other than indian</th>
                                    <th class="align-middle col-1">Email ID</th>
                                    <th class="align-middle col-1">Program Name</th>
                                    <th class="align-middle col-3">
                                        Unique Enrolment ID / College ID/
                                        University enrolment number
                                    </th>
                                    <th class="align-middle col-1">Year of joining</th>
                                </tr>

                            </thead>
                            <tbody>
                                {% if records %}
                                {% for record in records %}
                                <tr>
                                    <td>{{ record.name }}</td>
                                    <td>{{ record.gender }}</td>
                                    <td>{{ record.category }}</td>
                                    <td>{{ record.state_of_domicile }}</td>
                                    <td>{{ record.nationality }}</td>
                                    <td>{{ record.email }}</td>
                                    <td>{{ record.program_name }}</td>
                                    <td>{{ record.enrolment_id }}</td>
                                    <td>{{ record.year_of_joining }}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="11" class="text-center align-middle">
                                        <div class="alert alert-danger mb-0" role="alert">
                                            <h6 class="font-weight-bold mb-0">No Data Available</h6>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card end -->
    </div>
</div>
</div>

{% endblock %}