{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content wrapper start -->
<div class="content-wrapper">
	<!-- Row start -->
	<div class="row">
		<div class="col-sm-12 col-12">
			{% include 'messages.html' %}
			<!-- Card start -->
			<div class="card">
				<div class="card-header">
					<div class="card-title">Criteria 6.3.2</div>
				</div>

				<div class="card-body">
					<!-- Row start -->
					<!-- your_template.html -->
					<form method="post" action="{% url 'criteria_6_3_2_form' %}">
						{% csrf_token %}
						<div class="row">
							<div class="col-12">
								<div class="form-section-title">Course Details</div>
							</div>
							<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Year</label>
									{{ form.year }}
								</div>
							</div>
							<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Name of teacher
									</label>
									{{ form.name_of_teacher }}
								</div>
							</div>
							<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Name of conference/ workshop attended for which financial support provided
									</label>
									{{ form.name_of_conference_or_workshop }}
								</div>
							</div>
							<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Name of the professional body for which membership fee is provided
									</label>
									{{ form.name_of_professional_body }}
								</div>
							</div>
							<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="mb-3">
									<label class="form-label">Amount of support received (in INR)
									</label>
									{{ form.amount_of_support_received_in_inr }}
								</div>
							</div>
							<!-- Form actions footer start -->
							<div class="form-actions-footer">
								<a href="{% url 'criteria_6_3_2' %}" class="btn btn-light">Cancel</a>
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
					</form>
					<!-- Form actions footer end -->
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>
	<!-- Row end -->
</div>
<!-- Content wrapper end -->

{% endblock %}